<main>
    <section class="py-9 md:py-12 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">

        <app-hero></app-hero>

        <p class="text-xl text-wrap mt-6 text-gray-800 dark:text-gray-300">
            Tecnólogo en Análisis y Desarrollo de Sistemas
            | Desarrollador Junior Backend | Apasionado por la tecnología y el desarrollo de software de Bucaramanga,
            Colombia <img src="https://flagcdn.com/co.svg" alt="Colombia" class="w-5 h-4 inline">
        </p>

        <app-social-pill></app-social-pill>
    </section>

    <app-experience></app-experience>

</main>