<ul class="flex gap-x-2">
    <li class="mt-7">
        <a href="https://co.linkedin.com/in/sionne-quintero-qui" target="_blank" rel="noopener noreferrer"
            class="rounded-full border border-white/10 flex justify-center gap-x-2 py-1 px-2.5">
            <img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt="LinkedIn" class="w-5 h-5">
            LinkedIn
        </a>
    </li>
    <li class="mt-7">
        <a href="https://github.com/BYSAQQ" target="_blank" rel="noopener noreferrer"
            class="rounded-full border border-white/10 flex justify-center gap-x-2 py-1 px-2.5">
            <img src="https://github.githubassets.com/assets/pinned-octocat-093da3e6fa40.svg" alt="GitHub" class="w-6 h-6">
            GitHub
        </a>
    </li>
</ul>